<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
	<title>Generic title</title>
	<style>
		
	</style>
	<script src="https://unpkg.com/vue@next"></script> <!-- https://v3.vuejs.org/guide/installation.html#cdn -->
	<!-- <script src="vue.js"></script> -->
</head>
<body>
	<h1>MCOMD3ADB</h1>
	<div id="app">

		<h3>Add employee</h2>
		<form @submit.prevent="addEmployee">
			<input name="empn" v-model="employee.empn" placeholder="EMPN">
            <input name="ename" v-model="employee.ename" placeholder="Name">
            <input name="job" v-model="employee.job" placeholder="Job name">
            <input name="mgr" v-model="employee.mgr" placeholder="MGR">
            <input name="hiredate" v-model="employee.hiredate" placeholder="Hire date:YYYY-MM-DD">
            <input name="sal" v-model="employee.sal" placeholder="salary">
            <input name="comm" v-model="employee.comm" placeholder="commision">
            <input name="deptno" v-model="employee.deptno" placeholder="DEPTNO">
			<button data-action="addEmployee">add</button>
		</form>

        <h3>Remove employee</h2>
            <form @submit.prevent="removeEmployee">
                <input name="empn" v-model="employee.empn" placeholder="name">
                <button @click="removeEmployee()">del</button>
            </form>

        <h3>Add department</h2>
		<form @submit.prevent="addDepartment">
			<input name="deptno" v-model="department.deptno" placeholder="deptno">
            <input name="dname" v-model="department.dname" placeholder="name">
            <input name="loc" v-model="department.loc" placeholder="location">
			<button data-action="addDepartment">add</button>
		</form>

		<h3>Remove department</h2>
			<form @submit.prevent="removeDepartment">
				<input name="deptno" v-model="department.deptno" placeholder="deptno">
				<button @click="removeDepartment()">del</button>
			</form>

        <h3>Find employee</h2>
        <form @submit.prevent="findEmployee">
            <input name="empn" v-model="employee.empn" placeholder="empn">
            <button @click="findEmployee()">search</button>
        </form>
		<h2>Output</h2>
			<form v-for="employee in foundEmployee">
			<p data-field="EMPN">{{employee.EMPN}}</p>
			<p data-field="ENAME">Name: {{employee.ENAME}}</p>
			<p data-field="JOB">Job: {{employee.JOB}}</p>
			<p data-field="MGR">MGR: {{employee.MGR}}</p>
			<p data-field="HIREDATE">HIREDATE: {{employee.HIREDATE}}</p>
			<p data-field="SAL">Salary: {{employee.SAL}}</p>
			<p data-field="DEPTNO">DEPTNO: {{employee.DEPTNO}}</p>
		</form>
	</div>
<script type="module">
	const urlAPI = ''//Path

	const RootComponent = {
	  data() {
		return {
            employee:{
                empn: '',
                ename: '',
                job: '',
                mgr: '',
                hiredate: '',
                sal: '',
                comm: '',
                deptno: '',
            },
            department:{
                deptno: '',
                dname: '',
                loc: '',
            },
            foundEmployee: null,
		}
	  },
	  created() {
        
	  },
	  components: {
	  },
	  methods: {
        addEmployee() {
			fetch(`${urlAPI}/addEmployee`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.employee),
			})
				.then(response => response.json())
			.catch(err => console.error(err));
		},
        addDepartment() {
			fetch(`${urlAPI}/addDepartment`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.department),
			})
				.then(response => response.json())
			.catch(err => console.error(err));
		},
        removeEmployee() {
			fetch(`${urlAPI}/deleteEmployee/${(this.employee.empn)}`, {
				method: 'DELETE',
			})
			.catch(err => console.error(err));
		},
        removeDepartment() {
			fetch(`${urlAPI}/deleteDepartment/${(this.department.deptno)}`, {
				method: 'DELETE',
			})
			.catch(err => console.error(err));
		},
		findEmployee() {
			fetch(`${urlAPI}/showEmployee/${(this.employee.empn)}`, {
				method: 'GET',
			})
			.then(response => response.json())
			.then(data => this.foundEmployee = data)//This should populate foundEmployee
			.catch(err => console.error(err));
		},      
	  },
	}
	const app = Vue.createApp(RootComponent)
	const vm = app.mount('#app')
</script>

</body>
</html>