<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
	<title>Generic title</title>
	<style>
		
	</style>
	<script src="https://unpkg.com/vue@next"></script> <!-- https://v3.vuejs.org/guide/installation.html#cdn -->
	<!-- <script src="vue.js"></script> -->
</head>
<body>
	<h1>MCOMD3ADB</h1>
	<div id="app">

		<h3>Add employee</h2>
		<form @submit.prevent="addEmployee">
			<input name="empn" v-model="employee.empn" placeholder="name">
            <input name="ename" v-model="employee.ename" placeholder="name">
            <input name="job" v-model="employee.job" placeholder="name">
            <input name="mgr" v-model="employee.mgr" placeholder="name">
            <input name="hiredate" v-model="employee.hiredate" placeholder="YYYY-MM-DD">
            <input name="sal" v-model="employee.sal" placeholder="name">
            <input name="comm" v-model="employee.comm" placeholder="name">
            <input name="deptno" v-model="employee.deptno" placeholder="name">
			<button data-action="addEmployee">add</button>
		</form>

        <h3>Remove employee</h2>
            <form @submit.prevent="removeEmployee">
                <input name="empn" v-model="employee.empn" placeholder="name">
                <button data-action="removeEmployee">del</button>
            </form>

        <h3>Add department</h2>
		<form @submit.prevent="addDepartment">
			<input name="deptno" v-model="department.deptno" placeholder="name">
            <input name="dname" v-model="department.dname" placeholder="name">
            <input name="loc" v-model="department.loc" placeholder="name">
			<button data-action="addDepartment">add</button>
		</form>

        <h3>Remove department</h2>
        <form @submit.prevent="removeDepartment">
            <input name="deptno" v-model="department.deptno" placeholder="name">
            <button data-action="removeDepartment">del</button>
        </form>

	</div>
<script type="module">
	const urlAPI = ''

	const RootComponent = {
	  data() {
		return {
            employee:{
                empn: '',
                ename: '',
                job: '',
                mgr: '',
                hiredate: '',
                sal: '',
                comm: '',
                deptno: '',
            },
            department:{
                deptno: '',
                dname: '',
                loc: '',
            },
            findEmployee:{
                empn: '',
                ename: '',
                job: '',
                mgr: '',
                hiredate: '',
                sal: '',
                comm: '',
                deptno: '',
            },
		}
	  },
	  created() {
        
	  },
	  components: {
	  },
	  methods: {
        addEmployee() {
			fetch(`${urlAPI}/addEmployee`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.employee),
			})
				.then(response => response.json())
				//.then(()=>this.clearInput())
				//.then(()=>this.updateAttendees())
			.catch(err => console.error(err));
		},
        addDepartment() {
			fetch(`${urlAPI}/addDepartment`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.department),
			})
				.then(response => response.json())
			.catch(err => console.error(err));
		},
        removeEmployee(empn) {
			fetch(`${urlAPI}/deleteEmployee/${empn}`, {
				method: 'DELETE',
			})
				.then(()=>this.updateAttendees())
			.catch(err => console.error(err));
		},
        removeDepartment() {
			fetch(`${urlAPI}/deleteDepartment/${department.deptno}`, {
				method: 'DELETE',
			})
				.then(()=>this.updateAttendees())
			.catch(err => console.error(err));
		},

        
	  },
	}
	const app = Vue.createApp(RootComponent)
	const vm = app.mount('#app')
</script>

</body>
</html>